/* navigation section */
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 0.5rem;
    padding: 0px, 25px;
    margin: -7px;
}
#navbar d-flex{
    padding: 3px, 4px;
    size: 2px;
    font-size: 2px;
}

#logo img{
    height: 50px;
}
/* home section */
#home{
    height: 900px;
    padding: 3px, 68px;
}
#home::before{
    height: 1000px;
}
#home p{
    font-size: 13px;
}


/* services section */
#services{
    flex-direction: column;
}
/* client section  */
#client{
    flex-wrap: flex;
}
#client img{
    margin: -10px;
}
/* utility section */
#home h1{
    font-size: 20px;
}